%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        = link_to app_name, root_path
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li{class: ('has-dropdown' if @nav_lists.size > 0)}
        = link_to "Lists", lists_path
        - if @nav_lists.size > 0
          %ul.dropdown
            - @nav_lists.each do |list|
              %li= link_to list.title, list
